@import '../../scss/variables';

.b-filter {
  margin-bottom: 14px;
  .b-filter-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      &:checked + label {
        background-color: $btn-color;
        color: #fff;
      }
    }
    label {
      display: inline-block;
      padding: 8px 16px;
      border: 1px solid $btn-color;
      font-size: $font-size-base;
      line-height: $font-size-base;
      border-radius: 100px;
      background-color: #fff;
      cursor: pointer;
      &:hover {
        background-color: rgba(191, 63, 39, 0.1);
      }
    }
  }
}
