@import '../../scss/variables';

.b-filter {
  margin-bottom: 10px;
  .b-filter-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      &:checked + label {
        background-color: $blue-color;
        color: #fff;
      }
    }
    label {
      display: inline-block;
      padding: 8px 16px;
      border: 1px solid $blue-color;
      font-size: $font-size-base;
      line-height: $font-size-base;
      border-radius: 100px;
      cursor: pointer;
    }
  }
}
