$card-font-size: 12px;
$card-line-height: 16px;

.b-kanban-card-wrapper {
  position: relative;
  padding: 4px 8px;
  .b-kanban-card {
    position: relative;
    border-radius: 3px;
    border: 1px solid #AAA;
    padding: 6px;
    cursor: move;
    &-controls {
      position: absolute;
      top: 4px;
      right: 4px;
      button {
        width: 24px;
        height: 24px;
        opacity: 0.5;
        &:hover{
          opacity: 1;
        }
        img {
          width: 14px;
          height: 14px;
          margin-top: 2px;
        }
      }
    }
    &-name {
      font-weight: 700;
      padding-right: 46px;
    }
    &-descr {
      font-size: $card-font-size;
      line-height: $card-line-height;
      white-space: pre-wrap;
      word-wrap: break-word;
      margin-top: 6px;
    }
    &-due {
      display: flex;
      align-items: center;
      font-size: $card-font-size;
      line-height: $card-line-height;
      margin-top: 6px;
      .overdue-icon{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 3px;
      }
    }
  }
  .b-kanban-insert {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: calc(100% - 16px);
    margin: 0 8px;
    border-radius: 3px;
    height: 4px;
    background-color: #AAA;
    &.before {
      bottom: auto;
      top: -2px;
    }
  }
}
