.b-page {
  width: 100%;
  max-width: 1400px;
  margin: 16px auto 0 auto;
  &-top {
    margin-bottom: 20px;
    h1 {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
    }
    a{
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      img {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }
}

.b-kanban {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 1200px;
  height: calc(100vh - 135px);
}
