@import-normalize;
@import 'fonts';
@import 'variables';

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  overflow-x: hidden;
  color: $text-color-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  background-color: #f6fafb;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.b-btn{
  padding: 8px 16px;
  min-width: 70px;
  border-radius: 100px;
  background-color: #3a4e7a;
  color: #FFF;
  font-weight: 700;
}

.b-input{
  margin-bottom: 16px;
  label{
    display: block;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 4px;
  }
  input, textarea{
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #bababa;
    border-radius: 3px;
  }
  textarea{
    resize: none;
  }
}

.b-select{
  margin-bottom: 16px;
  label{
    display: block;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 4px;
  }
  select{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #bababa;
    border-radius: 3px;
  }
}


