.b-kanban-list {
  height: 100%;
  flex: 1 1 0px;
  margin: 0 6px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid;
  overflow: hidden;
  &-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 8px;
    border-top: 8px solid;
  }
  &-add {
    width: calc(100% - 16px);
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    margin: 0 8px;
  }
  &-items {
    height: calc(100% - 61px);
    padding: 6px 0;
    overflow: auto;
  }
}
