@import 'variables';

%input-label {
  display: block;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 5px;
}

%input-styles {
  width: 100%;
  padding: 8px 12px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  border: 1px solid #AAA;
  border-radius: 3px;
}
